<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
   <listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.apps.listners.CustomListners" />
	</listeners>

	<test name="logintest">
		<classes>
			<class name="com.apps.testcases.LoginTest" />
		</classes>
	</test>
	<test name="openaccountstest">
		<classes>
			<class name="com.apps.testcases.OpenACCTest1" />
		</classes>
	</test>
	<test name="createccountstest">
		<classes>
			<class name="com.apps.testcases.CreateACCTest" />
		</classes>
	</test>
</suite>
